<html lang="en">
	<%- include('./partials/head.ejs') %>
<body>
	<%- include('./partials/nav.ejs') %>
	<div class="about content">
		<h2>about us</h2>
		<p>so this is a paragraph yea</p>
		<p>so this is a paragraph yea</p>
		<p>so this is a paragraph yea</p>
	</div>
	<%- include('./partials/footer.ejs') %>
</body>
</html>